* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Libre Baskerville', serif;
    background-color: #000;
    color: #fff;
}

/* Page Header */

header {
    height: 425px;
    width: 100%;
    background-image: url(../images/Shutterstock_1221148045.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-family: 'Cormorant SC', serif;
    font-size: 10em;
    text-align: center;
    text-shadow: #000 4px 4px 4px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

header h3 {
    font-family: 'Libre Baskerville', serif;
    color: #cf8a72;
    font-size: 1.8em;
    font-weight: 700;
    text-align: center;
    text-shadow: #000 4px 4px 4px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

header p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.4em;
    text-align: center;
    text-shadow: #000 4px 4px 4px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

/* Navigation Bar */

nav ul {
    margin: 0;
    padding: 0;
    color: #fff;
    list-style-type: none;
    background-color: #000;
    font-family: 'Cormorant SC', serif;
    font-size: 200%;
    display: flex;
    flex-wrap: wrap;
}

nav li {
    background-color: #435170;
    flex: 1;
    border: 2px solid black;
    letter-spacing: 1px;

}

a:hover {
    color: #000;
    cursor: pointer;
}

nav a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
}

.active {
    background-color: #15418c;
}

/* index.html */

.intro-center {
    margin: 10px 0;
    text-align: center;
}

.intro-question {
    margin: 50px 0;
}

.intro-question h3 {
    font-size: 135%;
    font-weight: 500;
    line-height: 150%;
}

.intro-question h2 {
    font-size: 600%;
    color: #cf8a72;
    font-family: 'Cormorant SC', serif;
    line-height: 80%;
}

.intro-container-left {
    margin: 0;
    padding: 0;
    min-height: 700px;
    background-image: url("../images/shutterstock_326150009_left\ \(1\).jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.intro-container-right {
    margin: 0;
    padding: 0;
    min-height: 700px;
    background-image: url("../images/shutterstock_326150009_right\ \(1\).jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.basic-info {
    padding: 50px 50px;
    text-align: center;
}

.basic-info-outer {
    padding: 10px;
}

.basic-info h2 {
    background-color: #000;
    color: #cf8a72;
    margin: 0 auto;
    font-size: 220%;
    font-weight: 700;
}

.basic-info-column {
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    background-color: #435170;
    border-radius: 20px;
    font-size: 120%;
}

/* events.html */

.events-heading {
    margin-top: 30px;
    font-size: 400%;
    color: #cf8a72;
    font-family: 'Cormorant SC', serif;
    text-align: center;
}

.events-container {
    margin: 10px 30px;
}

.events-card {
    padding: 20px 30px;
}

.events-subheading {
    margin-top: 30px;
    color: #12529b;
    font-family: 'Cormorant SC', serif;
    font-size: 2em;
    font-weight: 700;
    text-align: left;
    border-bottom: 2px solid #435170;
}

.events-content {
    color: #fff;
    font-size: 110%;
    text-align: justify;
}

.events-img {
    width: 100%;
    align-content: center;
    border-radius: 10px;
}

/* resources.html */

.plain-intro {
    padding: 70px 12vw 20px 12vw;
    font-size: 140%;
    text-align: center;
}

.resources-list {
    padding: 1vw 5vw;
}

.resources-list h2 {
    color: #cf8a72;
    font-family: 'Cormorant SC', serif;
    margin: 0 auto;
    font-size: 200%;
    font-weight: 700;
    text-align: center;
}

.resources-column {
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    background-color: #435170;
    border-radius: 20px;
    font-size: 120%;
}

.resources-column a {
    text-decoration: none;
    color: white;
}

.resources-column a:hover {
    color: #000;
}

/* form.html */

.form-outer {
    background-image: url("../images/shutterstock_1923818147.jpg");
    background-size: cover;
    background-position: center;
}

.join-us-form {
    margin: 5vw 2vw;
    background-color: #43517090;
    padding: 30px;
}

.text-input {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fff;
    border-radius: 2px;
}

.join-us-form h2 {
    font-size: 230%;
    color: #cf8a72;
    text-shadow: #000 4px 4px 4px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

.join-us-form h5 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 120%;
}

.join-us-form p {
    margin-top: 20px;
    font-size: 200%;
}

.join-button {
    background-color: #cf8a72;
    border: 1px solid #000;
    border-radius: 4px;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 150%;
    margin: 20px;
    cursor: pointer;
    float: right;
}

.join-button:hover {
    color: #000;
    cursor: pointer;
}

.contact-info {
    margin: 5vw 2vw;
    background-color: #43517090;
    padding: 30px;
}

.contact-info div {
    padding: 2%;
}

.contact-info h3 {
    margin: 20px 0;
    font-size: 150%;
    list-style-type: none;
    color: #cf8a72;
    text-shadow: #000 4px 4px 4px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
}

table {
    width: 100%;
    text-align: center;
}

th {
    font-size: 150%;
    margin-bottom: 20px;
}

/* Page Footer */

footer {
    width: 100%;
    padding: 10px;
    background-color: #435170;
    font-family: 'Cormorant SC', serif;
    font-size: 150%;
}

footer a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

/* Media Queries */

@media screen and (max-width: 576px) {

        header {
            height: 300px;
        }

        header h1 {
            font-size: 20vw;
            line-height: 90%;
        }

        header h3 {
            display: none;
        }

        header p {
            display: none;
        }

        nav ul {
            font-size: 120%;
            flex-direction: column;
        }

        nav li {
            padding: 0 25px;
        }

        nav a {
            padding: 5px;
        }

        .intro-question {
            margin: 20px 5px;
        }

        .intro-question h3 {
            font-size: 85%;
        }

        .intro-question h2 {
            font-size: 250%;
            padding: 10px 0;
        }

        .basic-info {
            padding: 10px;
        }

        .basic-info-outer {
            padding: 10px 0;
        }

        .basic-info h2 {
            font-size: 150%;
        }

        .basic-info-column {
            width: 90%;
            margin-top: 10px;
            padding: 10px;
            font-size: 80%;
        }

        .plain-intro {
            padding: 30px 20px 10px 20px;
            font-size: 85%;
            text-align: center;
        }

        .events-heading {
            margin-top: 10px;
            font-size: 250%;
            line-height: 90%;
        }

        .events-container {
            margin: 20px 10px;
        }

        .events-card {
            padding: 10px 0;
        }

        .events-subheading {
            margin-top: 10px;
            font-size: 1.2em;
            font-weight: 700;
            text-align: center;
            border-bottom: 1px solid;
        }

        .events-content {
            font-size: 80%;
            text-align: center;
        }

        .resources-list {
            padding: 1vw 5vw;
        }

        .resources-list h2 {
            font-size: 200%;
        }

        .resources-column {
            width: 90%;
            margin: 20px auto;
            padding: 20px 15px;
            font-size: 80%;
        }

        .join-us-form {
            width: 90%;
        }

        .join-us-form h2 {
            font-size: 150%;
            text-align: center;
            margin-bottom: 15px;
        }

        .join-us-form h5 {
            margin-bottom: 10px;
            font-size: 100%;
            text-align: center;
        }

        .join-us-form p {
            margin: 10px 0;
            font-size: 120%;
        }

        .join-button {
            padding: 10px 20px;
            font-size: 120%;
            margin: 15px;
        }

        .contact-info {
            width: 90%;
            margin: 0 5vw 5vw 5vw;
            padding: 20px 5px;
        }

        .contact-info h3 {
            margin: 20px 0;
            font-size: 120%;
            font-weight: 400;
            text-align: center;
        }

        .contact-info h2 {
            font-size: 160%;
            text-align: center;
        }

        .contact-info h4 {
            font-size: 100%;
            margin-bottom: 20px;
            text-align: center;
        }

        .contact-info h5 {
            font-size: 90%;
            text-align: center;
        }

        th {
            font-size: 80%;
            margin-bottom: 20px;
        }

        td {
            font-size: 80%;
        }

        footer {
            font-size: 120%;
        }

        footer a {
            padding: 5px;
        }
}

@media screen and (min-width: 576px) and (max-width: 768px) {

        header {
            height: 350px;
        }
    
        header h1 {
            font-size: 18vw;
            line-height: 90%;
        }
    
        header h3 {
            display: none;
        }
    
        header p {
            display: none;
        }
    
        nav ul {
            font-size: 140%;
        }
    
        .intro-question {
            margin: 20px 10px;
        }
    
        .intro-question h3 {
            font-size: 120%;
        }
    
        .intro-question h2 {
            font-size: 350%;
            padding: 10px 0;
        }
    
        .basic-info {
            padding: 10px;
        }
    
        .basic-info-outer {
            padding: 10px 0;
        }
    
        .basic-info h2 {
            font-size: 180%;
        }
    
        .basic-info-column {
            width: 80%;
            margin-top: 10px;
            padding: 20px;
            font-size: 110%;
        }
    
        .plain-intro {
            padding: 50px 30px 0 30px;
            font-size: 110%;
        }
    
        .events-img {
            width: 80%
        }
    
        .events-subheading {
            text-align: center;
        }
    
        .events-content {
            font-size: 100%;
        }
    
        .resources-list {
            padding: 1vw 5vw;
        }
    
        .resources-list h2 {
            font-size: 200%;
        }
    
        .resources-column {
            width: 90%;
            margin: 20px auto;
            padding: 20px 15px;
            font-size: 100%;
        }
    
        .join-us-form {
            width: 80%;
        }
    
        .join-us-form h2 {
            font-size: 180%;
            text-align: center;
            margin-bottom: 10px;
        }
    
        .join-us-form h5 {
            margin-bottom: 10px;
            font-size: 120%;
            text-align: center;
        }
    
        .join-us-form p {
            margin: 10px 0;
            font-size: 120%;
        }
    
        .join-button {
            padding: 10px 20px;
            font-size: 120%;
            margin: 15px;
        }
    
        .contact-info {
            width: 80%;
            margin: 0 5vw 5vw 5vw;
            padding: 25px 5px;
        }
    
        .contact-info h3 {
            margin: 20px 0;
            font-size: 150%;
            font-weight: 400;
            text-align: center;
        }
    
        .contact-info h2 {
            font-size: 180%;
            text-align: center;
        }
    
        .contact-info h4 {
            font-size: 130%;
            margin-bottom: 20px;
            text-align: center;
        }
    
        .contact-info h5 {
            font-size: 110%;
            text-align: center;
        }
    
        th {
            font-size: 100%;
            margin-bottom: 20px;
        }
    
        td {
            font-size: 90%;
        }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

    header h1 {
        font-size: 11vw;
    }

    header h3 {
        font-size: 2.6vw;
    }

    header p {
        font-size: 1.8vw;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    
    header h1 {
        font-size: 11vw;
    }

    header h3 {
        font-size: 2vw;
    }

    header p {
        font-size: 1.8vw;
    }

    .intro-question{
    margin: 50px 0;
    }

    .intro-question h3{
    font-size: 130%;
    }

    .intro-question h2{
    font-size: 350%;
    padding: 10px 0;
    }
}